    조이스틱으로 알파벳 이름을 완성하세요. 맨 처음엔 A로만 이루어져 있습니다.
    ex) 완성해야 하는 이름이 세 글자면 AAA, 네 글자면 AAAA

    조이스틱을 각 방향으로 움직이면 아래와 같습니다.

<img src="입출력 예시 img/조이스틱.png"></img>

    만들고자 하는 이름 name이 매개변수로 주어질 때, 이름에 대해 조이스틱 조작 횟수의 최솟값을 return 하도록 solution 함수를 만드세요.

<img src="입출력 예시 img/조이스틱2.png"></img>

In [51]:
import pandas as pd



spelling = pd.DataFrame({'A' : [0], 'B' : [1], 'C' : [2], 'D' : [3], 'E' : [4], 'F' : [5],
'G' : [6], 'H' : [7], 'I' : [8], 'J' : [9], 'K' : [10], 'L' : [11], 'M' : [12],
'N' : [13], 'O' : [12], 'P' : [11], 'Q' : [10], 'R' : [9], 'S' : [8], 'T' : [7],
'U' : [6], 'V' : [5], 'W' : [4], 'X' : [3], 'Y' : [2], 'Z' : [1]})

   A  B  C  D  E  F  G  H  I  J  ...   Q  R  S  T  U  V  W  X  Y  Z
0  0  1  2  3  4  5  6  7  8  9  ...  10  9  8  7  6  5  4  3  2  1

[1 rows x 26 columns]

   0
0  A
1  B

In [30]:
name = "JAN"
answer = 0
for i in range(len(name)) :
    if name[i:i+1] != 'A':
        for z in range(len(spelling.columns)) :
            if name[i:i+1] == spelling.columns[z]:
                answer += spelling.iloc[0][z]
                if name[z:z+1] != 'A' :
                    answer = (answer + 1)
                elif name[z:z+1] == 'A' :
                    answer = (answer + 0)
              
print(answer-1)

23